body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/hihi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0, 0, 5);
  padding: 20px;
  width: 270px;
  box-shadow: 0 0 10px 5px black;
}

.avatar {
  font-size: 50px;
}

.login h2 {
  text-align: center;
  color: rgb(23, 24, 24);
  padding-top: 10px;
  letter-spacing: 10px;
}

.box-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(190, 193, 196);
  padding: 8px 0;
}

.box-login i {
  font-size: 20px;
  color: rgb(16, 17, 17);
}

.box-login input {
  width: 100%;
  padding: 0 10px;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
}

.box-login input::placeholder {
  color: rgb(16, 18, 19);
}

.btn-login {
  width: 100%;
  background: none;
  padding: 10px;
  border: 1px solid rgb(15, 15, 15);
  font-size: 18px;
  letter-spacing: 5px;
  color: rgb(15, 17, 17);
  cursor: pointer;
}

.btn-login:hover {
  color: var(--pink);
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom a {
  color: rgb(22, 20, 20);
  font-size: 14px;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

.tmblbtn {
  width: 150px;
  height: 7vh;
  border-radius: 20px;
  background-color: #393d3d;
  border-color: white;
}
.tmblbtn a {
  color: aliceblue;
}
